<div fxLayout="column" fxLayoutGap="5px" *ngIf="outlet.isActivated === false">
  <div fxFlex="1 1 auto" fxFlex.gt-xs="1 1 55px">
    <div fxLayout="column" fxLayoutGap="15px" fxLayout.gt-xs="row">
      <div>
        <button mat-raised-button class="btn btn--theme-primary" (click)="addRole()" *hasPermission="MANAGEMENT_PERMISSION.CG_RoleNew">
          <i class="material-icons">add</i>{{ 'general.add' | translate}}
        </button>
      </div>
      <div *ngIf="dataSource">
        <button mat-raised-button id="roleMutiDelBtn" name="roleMutiDelBtn"
            class="btn btn--theme-basic" (click)="openDelDialog(getSelectedCheckBoxes())" *hasPermission="MANAGEMENT_PERMISSION.CG_RoleDel">
          <i class="material-icons">remove</i>{{ 'general.delete' | translate}}
        </button>
      </div>
    </div>
  </div>

  <div fxFlex="1 1 auto">
    <mat-card>
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          *ngIf="totalCount !== 0">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="roleName">
          <mat-header-cell *matHeaderCellDef>{{ 'general.name' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let role"><span class="rwd-title" fxHide.gt-sm>{{ 'general.name' | translate}} : </span> {{role.roleName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="desc">
          <mat-header-cell *matHeaderCellDef>{{ 'general.description' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let role"><span class="rwd-title" fxHide.gt-sm>{{ 'general.description' | translate}} : </span> {{role.desc}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>{{ 'general.operation' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let role">
            <button mat-icon-button  [matMenuTriggerFor]="menu" #roleToggleMenuBtn>
              <i class="material-icons">more_horiz</i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item id="roleEditBtn" name="roleEditBtn"
                  (click)="editRole(role)" *hasPermission="MANAGEMENT_PERMISSION.CG_RoleEdit">
                {{ 'general.edit' | translate}}
              </button>
              <button mat-menu-item id="roleDelBtn" name="roleDelBtn"
                  (click)="openDelDialog(role)" *hasPermission="MANAGEMENT_PERMISSION.CG_RoleDel">
                {{ 'general.delete' | translate}}
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="noData">
          <mat-cell *matCellDef="let element">
            {{ 'general.noData' | translate}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" fxHide.lt-md></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; when: showData"></mat-row>

        <mat-row *matRowDef="let row; columns: ['noData']; when: !showData"
        [@detailExpand]="(totalCount === 0) ? 'expanded' : 'collapsed'"></mat-row>

      </mat-table>
      <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
      (page)="changePage($event)" *ngIf="totalCount !== 0"></mat-paginator>
    </mat-card>
  </div>
</div>

<router-outlet #outlet="outlet"></router-outlet>
