.perm-item {
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  margin-top: 10px;
  margin-bottom: 30px;
  min-width: 200px;
  text-align: left;

  &__title {
    background: rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid #dddddd;
    padding: 12px 0 12px 12px;
    .mat-checkbox {
      float: right;
      position: relative;
      right: 16px;
    }
  }
}
