<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around stretch"
  [className]="(delData.length !== 0) ? 'dialog dialog--theme-danger' : 'dialog dialog--theme-warn'">
  <ng-container *ngIf="delData.length !== 0; else elseBlock">
    <div class="dialog__title" fxFlex="1 1 auto">
      <i class="material-icons">error</i>&nbsp;&nbsp;{{'Application.alert' | translate}}
    </div>
    <div fxFlex="1 1 auto">
      <div class="dialog__label">{{ 'general.name' | translate}}:
        <span *ngFor="let d of delData; let last = last">
            {{d.appName}}<span *ngIf="!last">, </span>
        </span>
      </div>
    </div>
    <div class="dialog__actions" fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="10px" fxLayout.gt-xs="row" fxLayoutGap="10px">
        <button mat-stroked-button type="button" class="btn btn--theme-basic" id="trustAppDelDialogCloseBtn" name="trustAppDelDialogCloseBtn" (click)="close()">{{ 'general.cancel' | translate}}</button>
        <button mat-stroked-button type="button" class="btn btn--theme-danger" id="trustAppDelDialogDelBtn" name="trustAppDelDialogDelBtn" (click)="delete()">{{ 'general.confirm' | translate}}</button>
      </div>
  </ng-container>
  <ng-template #elseBlock>
    <div class="dialog__title" fxFlex="1 1 auto">
      <i class="material-icons">not_interested</i>&nbsp;&nbsp;{{'Application.notify' | translate}}
    </div>
    <div class="dialog__actions" fxFlex="1 1 40px" fxLayout="column" fxLayoutGap="10px" fxLayout.gt-xs="row" fxLayoutGap="10px">
        <button mat-stroked-button class="btn btn--theme-basic" type="button" id="trustAppDelDialogCloseBtn" name="trustAppDelDialogCloseBtn" (click)="close()">{{ 'general.close' | translate}}</button>
    </div>
  </ng-template>
</div>
